body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #FFF7F3;
  color: #461220;
}

.calendar-wrapper {
  display: flex;
  padding: 20px;
}

.form-panel {
  width: 300px;
  margin-right: 20px;
  background: #FFF7F3;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.form-panel h1 {
  margin-top: 0;
}

.form-panel input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form-panel button {
  padding: 10px;
  width: 100%;
  background-color: #8C2F39;
  color: white;
  border: none;
  border-radius: 8px;
  border-color: #CFCFCF;
  cursor: pointer;
}

.form-panel button:hover {
  background-color: #B23A48;
}

.calendar-container {
  display: flex;
  overflow-x: auto;
}

.time-column {
  margin-top:55px;
  width: 80px;
  border-right: 1px solid #ddd;
}

.time-slot {
  height: 60px;
  border-bottom: 1px solid #eee;
  text-align: right;
  padding-right: 8px;
  box-sizing: border-box;
  font-size: 12px;
  color: #461220;
}

.day-column {
  flex: 1;
  position: relative;
  border-right: 1px solid #ddd;
  min-width: 150px;
}

.day-label {
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  border-radius: 6px;
  margin: 4px;
}

.day-grid {
  position: relative;
  height: 1440px; /* 24 hours * 60 minutes */
}

.event-block {
  position: absolute;
  left: 5px;
  right: 5px;
  background-color: #E8CACC;
  border-left: 4px solid #B23A48;
  padding: 4px 6px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  overflow: hidden;
}

.event-title {
  font-weight: bold;
}

.event-time {
  font-size: 10px;
  color: #461220;
}
